.navbar-header{
  text-align: center;
  align-items: center;
  .navbar-brand{
    display: flex;
    line-height: 18px;
    align-items: center;
    .dark-logo{
      display: none;
    }
  }
}

  .profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

.navbar-menu{
  width: 100%;

  app-header{
    //float: right;
    width: 100%;
  }
}



.main-container{

}

.example-sidenav-container{
  height: 100vh;
}

.main-header{
  //position:fixed;
  //top:0;
  //left:0;
  //right:0;

  position: sticky;
  //position: --webkit-sticky;
  top: 0;
  z-index: 2000;
}

.page-content{
  //margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.page-wrapper{
  background: #f4f6f9;
}
