.sidebar-list{
  padding: 0;

  .sidebar-header{
    border-bottom: 1px solid #d7ecff;
    height: var(--mat-toolbar-standard-height);
    border-radius: 0;
    padding-top: 3px;
    .app-name{
      color: rgba(255, 255, 255, .8);
    }
    .brand-image{
      float: left;
      line-height: .8;
      margin-left: .8rem;
      margin-right: .5rem;
      margin-top: -3px;
      max-height: 33px;
      width: auto;
      opacity: .8;
    }
  }

  .my-nav-link:hover{
    background-color: #545477;
  }

  a.active{
    background: #2121fd;
    .nav-link-title{
      color: white;
    }
  }

  .nav-link-title{
    color: rgba(255, 255, 255, .8);
    margin-left: 5px;
    width: 100%;
  }
  //.img-circle {
  //  border-radius: 50%;
  //}

}

a{
  height: 45px;
  padding: 0 10px;
  align-items: center;
  display: flex;
  font-size: 15px;
  white-space: nowrap;
  color:var(--sidebar-text);
  mat-icon:not(.dd-icon){
    margin-right: 8px;
  }
  //mat-icon{
  //  color:var(--sidebar-icons);
  //}
  .dd-icon{
    font-size: 16px;
    width: 16px;
    transition: 0.2s ease-in;
    margin: 5px 0 5px 5px;
    height: 16px;
  }
}
