

<mat-nav-list class="sidebar-list">
  <a class="d-inline-flex sidebar-header mb-3" mat-list-item routerLink="">
   <div style="padding-top: 3px">
     <img src="img/logo.png" alt="" class="brand-image img-circle">
     <span class="app-name">Scalke ERP 2</span>
   </div>
  </a>
  @for(item of items; track item.path){
    <ng-container>
      <a class="d-inline-flex my-nav-item my-nav-link" mat-list-item [routerLink]="item.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <div class="row">
          <div class="col-1" style="color: white"><mat-icon>{{item.icon}}</mat-icon></div>
          <div class="col-10"><span matLine class="nav-link-title">{{item.title}}</span></div>
        </div>
      </a>
    </ng-container>
  }
<!--  <a class="d-inline-flex my-nav-item my-nav-link" mat-list-item routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
<!--    <div class="row">-->
<!--      <div class="col-1" style="color: white"><mat-icon>groups</mat-icon></div>-->
<!--      <div class="col-10"><span matLine class="nav-link-title">Users </span></div>-->
<!--    </div>-->
<!--  </a>-->
<!--  <a class="d-inline-flex my-nav-item my-nav-link" mat-list-item routerLink="plans" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
<!--    <div class="row">-->
<!--      <div class="col-1" style="color: white"><mat-icon>bookmark</mat-icon></div>-->
<!--      <div class="col-10"><span matLine class="nav-link-title">Plans </span></div>-->
<!--    </div>-->
<!--  </a>-->
</mat-nav-list>
