<mat-nav-list>
  <mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <div class="item-option">
      <i class="bi bi-speedometer"></i>
      <span class="text">Dashboard</span>
    </div>
  </mat-list-item>
  <mat-list-item routerLink="products" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <div class="item-option">
      <i class="bi bi-shop"></i>
      <span class="text">Products</span>
    </div>
  </mat-list-item>
</mat-nav-list>
